<!--
  Generated template for the PrivatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-buttons start class="mgl-10">
            <button ion-button icon-only (click)="closeModal()">
                <ion-icon fs-21 name="ios-close-outline"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>隱私設定</ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-line>

    <ion-label class="text-grey-5 mgt-20 mgb-0 mgl-20">帳號狀態</ion-label>
    <ion-item no-line>
        <button class="text-grey-5 fs-14" ion-button block (click)="changeStatus()" *ngIf="statusText">
          {{statusText}}
        </button>
    </ion-item>


    <ion-label class="text-grey-5 mgt-20 mgb-0 mgl-20">貼文設定</ion-label>
    <ion-item no-line>
        <button class="text-grey-5 fs-14" ion-button block (click)="changeShareType()" *ngIf="shareTypeText">
          {{shareTypeText}}
        </button>
    </ion-item>

</ion-content>