page-notification {
    ion-list.avatar-list ion-item {
        background: white !important;
    }
    ion-list.avatar-list ion-item p {
        color: gray !important;
    }
    .isReadClass {
        background: white !important;
    }
}