<!--
  Generated template for the CaloriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>卡路里評量</ion-title>
        <ion-buttons end (click)="postClick()">
            <button *ngIf="isExpert" [disabled]="!protein || !fat || !carbohydrate">確定</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-item no-lines>
        <div style="text-align: center;">
            <button *ngIf="image" ion-button style="width: 150px; height: 150px; margin: 0px auto; background: transparent;">
               <img *ngIf="image" src="{{image}}" style="width:100%" (click)="enlargeImage(image)">
            </button>
        </div>
    </ion-item>

    <ion-item>
        <ion-label class="text-grey-5" stacked>蛋白質(份)</ion-label>
        <ion-input [(ngModel)]="protein" (ionChange)="runTimeChange($event)" type="number" placeholder="0"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label class="text-grey-5" stacked>脂肪(份)</ion-label>
        <ion-input [(ngModel)]="fat" (ionChange)="runTimeChange($event)" type="number" placeholder="0"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label class="text-grey-5" stacked>醣類(份)</ion-label>
        <ion-input [(ngModel)]="carbohydrate" (ionChange)="runTimeChange($event)" type="number" placeholder="0"></ion-input>

    </ion-item>

    <ion-item>
        <ion-label class="text-grey-5" stacked>卡路里</ion-label>
        <ion-input [(ngModel)]="calories" [disabled]="expression"></ion-input>
    </ion-item>

    <ion-item no-lines>
        <ion-label class="text-grey-5" stacked>評論</ion-label>
        <ion-textarea [(ngModel)]="comment" cols="30" rows="4" placeholder="評論" class="stroke stroke-2 stroke-grey-3">
        </ion-textarea>
    </ion-item>

</ion-content>