page-search {
    .cover {
        object-fit: cover;
    }
    .contain {
        object-fit: contain;
    }
    textarea {
        width: 100%;
        height: 40px;
    }
    ion-slide {
        .slogan {
            justify-content: flex-end;
        }
        .slide-zoom {
            height: 160px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                min-height: 100%;
                max-height: none;
            }
        }
    }
    .view-cat {
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 100%;
            width: auto;
            max-width: unset !important;
        }
    }
    .wrap-text {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .promotion {
        position: relative;
        display: flex;
        align-items: center;
        .main-promotion {
            position: relative;
            overflow: hidden;
            display: flex;
            flex: 1;
            align-items: center;
            .slogan-promo {
                z-index: 10;
                position: relative;
                flex: 1;
            }
            .wrap-thumb-promo {
                z-index: 10;
                position: relative;
                display: flex;
                .thumb-promo {
                    height: 55px;
                    width: 55px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        max-width: unset;
                        height: 100%;
                    }
                }
            }
            .bg-promo {
                z-index: 1;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                img {}
            }
        }
        .wrap-decor {
            display: flex;
            align-items: center;
            .decor-promo {
                position: absolute;
                height: 80%;
                width: 7px;
                right: 6px;
                border-radius: 0 5px 5px 0;
            }
            .decor-promo-2 {
                position: absolute;
                height: 60%;
                width: 5px;
                right: 0;
                border-radius: 0 5px 5px 0;
            }
        }
    }
    .thumb-cat {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .featured_item {
        .item {
            min-height: unset !important;
        }
        ion-card-content {
            display: flex;
            .txt-item {
                display: flex;
                flex-direction: column;
                >div {
                    flex: 1;
                }
            }
            .thumb-view {
                height: 90px !important;
                display: flex;
                overflow: hidden;
            }
        }
    }
    // .food-slide-blog {
    //     width: 200%;
    //     margin-left: -60%;
    //     ion-slide {
    //         .wrap-slide-item {
    //             position: relative;
    //             height: 170px;
    //             display: flex;
    //             img {
    //                 height: 100%;
    //                 width: auto;
    //                 max-width: unset;
    //             }
    //         }
    //     }
    //     .swiper-slide-active {
    //         .wrap-slide-item {
    //             margin-top: 0px !important;
    //             height: 200px;
    //         }
    //     }
    //     .slogan-slide-blog {
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         right: 0;
    //         bottom: 0;
    //         // background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    //         display: flex;
    //         align-items: flex-end;
    //         .wrapper-slogan {
    //             height: 100%;
    //             display: flex;
    //             flex-direction: column;
    //             align-items: flex-end;
    //         }
    //     }
    // }
}