page-side-menu {
    // .back-button {
    //     display: inherit;
    // }
    .toolbar-title {
        color: black;
    }
    .bar-button-ios[icon-only] ion-icon {
        font-size: 40px;
        margin-right: 10px;
    }
}